################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppAuth/.vs/WebAppAuth
/WebAppAuth/obj
/.vs
/WebAppAuth/bin/Debug/netcoreapp3.1
/SDSMApps/.vs/SDSMApps
/SDSMApps/GatewayApi/obj
/SDSMApps/GatewayApi/bin/Debug/netcoreapp3.1
/SDSMApps/CatalogApi/obj
/SDSMApps/CatalogApi/bin/Debug/netcoreapp3.1
/SDSMApps/AuthenticationApi/obj
/SDSMApps/AuthenticationApi/bin/Debug/netcoreapp3.1
/SDSMApps/EndUserWebApp/pub
/SDSMApps/BAL/obj
/SDSMApps/ClientAppLibrary/obj
/SDSMApps/DAL/obj
/SDSMApps/Models/obj
/SDSMApps/ViewModels/obj
/SDSMApps/ViewModels/bin/Debug/netcoreapp3.1
/SDSMApps/Models/bin/Debug/netcoreapp3.1
/SDSMApps/Common.Infra/bin/Debug
/SDSMApps/Common.Infra/bin/Release
/SDSMApps/Common.Infra/obj
/SDSMApps/ClientAppLibrary/bin/Debug/netcoreapp3.1
/SDSMApps/BAL/bin/Debug/netcoreapp3.1
/SDSMApps/DL.MySql/bin/Debug
/SDSMApps/DL.MySql/obj
/SDSMApps/SDSM.Models/bin
/SDSMApps/SDSM.Models/obj
/SDSMApps/SDSM.GatewayApi/obj
/SDSMApps/SDSM.GatewayApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.CatalogApi/obj
/SDSMApps/SDSM.CatalogApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.AuthenticationApi/obj
/SDSMApps/SDSM.AuthenticationApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.EndUserWebApp/pub
/SDSMApps/BAL/obj
/SDSMApps/SDSM.ClientAppLibrary/obj
/SDSMApps/SDSM.DAL/obj
/SDSMApps/SDSM.Models/obj
/SDSMApps/SDSM.ViewModels/obj
/SDSMApps/SDSM.ViewModels/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.Models/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.Common.Infra/bin/Debug
/SDSMApps/SDSM.Common.Infra/bin/Release
/SDSMApps/SDSM.Common.Infra/obj
/SDSMApps/ClientAppLibrary/bin/Debug/netcoreapp3.1
/SDSMApps/BAL/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.DL.MySql/bin/Debug
/SDSMApps/SDSM.DL.MySql/obj
/SDSMApps/SDSM.Models/bin
/SDSMApps/SDSM.Models/obj
/SDSMApps/SDSM.ViewModels/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.ViewModels/obj
/SDSMApps/BAL/bin/Release/netcoreapp3.1
/SDSMApps/ClientAppLibrary/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.AuthenticationApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.CatalogApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.DL.MongoDB/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.DL.MongoDB/obj
/SDSMApps/SDSM.DL.MySql/bin/Release
/SDSMApps/SDSM.GatewayApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.ViewModels/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.DL.MongoDB/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.BL.Common/bin
/SDSMApps/SDSM.BL.Common/obj
/POC/POC/.vs/POC/v16
/POC/.vs/POC/v16/.suo
/POC/mapsapp/.vs
/SDSMApps/SDSM.ContentManagemenApi.BL/obj
/SDSMApps/SDSM.ContentManagementApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.ContentManagementApi/obj
/SDSMApps/SDSM.ContentManagementApi.BL/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.ContentManagementApi.BL/obj
/SDSMApps/SDSM.ContentManagementApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.ContentManagementApi.BL/bin
/SDSMApps/SDSM.ViewModels/bin/Release
SDSMApps/SDSM.AuthenticationApi/ClientApp/package-lock.json
SDMSApps/ClientAppLibrary/obj/ClientAppLibrary.csproj.nuget.dgspec.json
SDMSApps/ClientAppLibrary/obj/ClientAppLibrary.csproj.nuget.g.props
SDMSApps/ClientAppLibrary/obj/ClientAppLibrary.csproj.nuget.g.targets
SDMSApps/ClientAppLibrary/obj/project.assets.json
SDMSApps/ClientAppLibrary/obj/project.nuget.cache
SDMSApps/ClientAppLibrary/obj/Debug/netcoreapp3.1/ClientAppLibrary.AssemblyInfo.cs
SDMSApps/ClientAppLibrary/obj/Debug/netcoreapp3.1/ClientAppLibrary.AssemblyInfoInputs.cache
SDMSApps/ClientAppLibrary/obj/Debug/netcoreapp3.1/ClientAppLibrary.assets.cache
SDMSApps/ClientAppLibrary/obj/Debug/netcoreapp3.1/ClientAppLibrary.csprojAssemblyReference.cache
SDMSApps/ClientAppLibrary/obj/Release/netcoreapp3.1/ClientAppLibrary.AssemblyInfo.cs
SDMSApps/ClientAppLibrary/obj/Release/netcoreapp3.1/ClientAppLibrary.AssemblyInfoInputs.cache
SDMSApps/SDMS.AuthenticationApi/obj/project.assets.json
SDMSApps/SDMS.AuthenticationApi/obj/project.nuget.cache
SDMSApps/SDMS.AuthenticationApi/obj/SDMS.AuthenticationApi.csproj.nuget.dgspec.json
SDMSApps/SDMS.AuthenticationApi/obj/SDMS.AuthenticationApi.csproj.nuget.g.props
SDMSApps/SDMS.AuthenticationApi/obj/SDMS.AuthenticationApi.csproj.nuget.g.targets
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/SDMS.AuthenticationApi.AssemblyInfo.cs
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/SDMS.AuthenticationApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/SDMS.AuthenticationApi.assets.cache
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/SDMS.AuthenticationApi.csprojAssemblyReference.cache
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/SDMS.AuthenticationApi.RazorAssemblyInfo.cache
SDMSApps/SDMS.AuthenticationApi/obj/Debug/netcoreapp3.1/SDMS.AuthenticationApi.RazorAssemblyInfo.cs
SDMSApps/SDMS.AuthenticationApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.AuthenticationApi/obj/Release/netcoreapp3.1/SDMS.AuthenticationApi.AssemblyInfo.cs
SDMSApps/SDMS.AuthenticationApi/obj/Release/netcoreapp3.1/SDMS.AuthenticationApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.AuthenticationApi/obj/Release/netcoreapp3.1/SDMS.AuthenticationApi.RazorAssemblyInfo.cache
SDMSApps/SDMS.AuthenticationApi/obj/Release/netcoreapp3.1/SDMS.AuthenticationApi.RazorAssemblyInfo.cs
SDMSApps/SDMS.BL.Common/obj/project.assets.json
SDMSApps/SDMS.BL.Common/obj/project.nuget.cache
SDMSApps/SDMS.BL.Common/obj/SDMS.BL.Common.csproj.nuget.dgspec.json
SDMSApps/SDMS.BL.Common/obj/SDMS.BL.Common.csproj.nuget.g.props
SDMSApps/SDMS.BL.Common/obj/SDMS.BL.Common.csproj.nuget.g.targets
SDMSApps/SDMS.BL.Common/obj/Debug/netcoreapp3.1/SDMS.BL.Common.AssemblyInfo.cs
SDMSApps/SDMS.BL.Common/obj/Debug/netcoreapp3.1/SDMS.BL.Common.AssemblyInfoInputs.cache
SDMSApps/SDMS.BL.Common/obj/Debug/netcoreapp3.1/SDMS.BL.Common.assets.cache
SDMSApps/SDMS.BL.Common/obj/Debug/netcoreapp3.1/SDMS.BL.Common.csprojAssemblyReference.cache
SDMSApps/SDMS.BL.Common/obj/Release/netcoreapp3.1/SDMS.BL.Common.AssemblyInfo.cs
SDMSApps/SDMS.BL.Common/obj/Release/netcoreapp3.1/SDMS.BL.Common.AssemblyInfoInputs.cache
SDMSApps/SDMS.CatalogApi/obj/project.assets.json
SDMSApps/SDMS.CatalogApi/obj/project.nuget.cache
SDMSApps/SDMS.CatalogApi/obj/SDMS.CatalogApi.csproj.nuget.dgspec.json
SDMSApps/SDMS.CatalogApi/obj/SDMS.CatalogApi.csproj.nuget.g.props
SDMSApps/SDMS.CatalogApi/obj/SDMS.CatalogApi.csproj.nuget.g.targets
SDMSApps/SDMS.CatalogApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.CatalogApi/obj/Debug/netcoreapp3.1/SDMS.CatalogApi.AssemblyInfo.cs
SDMSApps/SDMS.CatalogApi/obj/Debug/netcoreapp3.1/SDMS.CatalogApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.CatalogApi/obj/Debug/netcoreapp3.1/SDMS.CatalogApi.assets.cache
SDMSApps/SDMS.CatalogApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.CatalogApi/obj/Release/netcoreapp3.1/SDMS.CatalogApi.AssemblyInfo.cs
SDMSApps/SDMS.CatalogApi/obj/Release/netcoreapp3.1/SDMS.CatalogApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.Common.Infra/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.Common.Infra/obj/Release/netcoreapp3.1/SDMS.Common.Infra.AssemblyInfo.cs
SDMSApps/SDMS.Common.Infra/obj/Release/netcoreapp3.1/SDMS.Common.Infra.AssemblyInfoInputs.cache
SDMSApps/SDMS.Common.Infra/obj/Release/netcoreapp3.1/SDMS.Common.Infra.assets.cache
SDMSApps/SDMS.ContentManagementApi/obj/project.assets.json
SDMSApps/SDMS.ContentManagementApi/obj/project.nuget.cache
SDMSApps/SDMS.ContentManagementApi/obj/SDMS.ContentManagementApi.csproj.nuget.dgspec.json
SDMSApps/SDMS.ContentManagementApi/obj/SDMS.ContentManagementApi.csproj.nuget.g.props
SDMSApps/SDMS.ContentManagementApi/obj/SDMS.ContentManagementApi.csproj.nuget.g.targets
SDMSApps/SDMS.ContentManagementApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.ContentManagementApi/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.AssemblyInfo.cs
SDMSApps/SDMS.ContentManagementApi/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.ContentManagementApi/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.assets.cache
SDMSApps/SDMS.ContentManagementApi/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.csprojAssemblyReference.cache
SDMSApps/SDMS.ContentManagementApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.ContentManagementApi/obj/Release/netcoreapp3.1/SDMS.ContentManagementApi.AssemblyInfo.cs
SDMSApps/SDMS.ContentManagementApi/obj/Release/netcoreapp3.1/SDMS.ContentManagementApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.ContentManagementApi.BL/obj/project.assets.json
SDMSApps/SDMS.ContentManagementApi.BL/obj/project.nuget.cache
SDMSApps/SDMS.ContentManagementApi.BL/obj/SDMS.ContentManagementApi.BL.csproj.nuget.dgspec.json
SDMSApps/SDMS.ContentManagementApi.BL/obj/SDMS.ContentManagementApi.BL.csproj.nuget.g.props
SDMSApps/SDMS.ContentManagementApi.BL/obj/SDMS.ContentManagementApi.BL.csproj.nuget.g.targets
SDMSApps/SDMS.ContentManagementApi.BL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.ContentManagementApi.BL/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.BL.AssemblyInfo.cs
SDMSApps/SDMS.ContentManagementApi.BL/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.BL.AssemblyInfoInputs.cache
SDMSApps/SDMS.ContentManagementApi.BL/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.BL.assets.cache
SDMSApps/SDMS.ContentManagementApi.BL/obj/Debug/netcoreapp3.1/SDMS.ContentManagementApi.BL.csprojAssemblyReference.cache
SDMSApps/SDMS.ContentManagementApi.BL/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.ContentManagementApi.BL/obj/Release/netcoreapp3.1/SDMS.ContentManagementApi.BL.AssemblyInfo.cs
SDMSApps/SDMS.ContentManagementApi.BL/obj/Release/netcoreapp3.1/SDMS.ContentManagementApi.BL.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.FerretDB/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.DL.FerretDB/obj/Release/netcoreapp3.1/SDMS.DL.FerretDB.AssemblyInfo.cs
SDMSApps/SDMS.DL.FerretDB/obj/Release/netcoreapp3.1/SDMS.DL.FerretDB.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.FerretDB/obj/Release/netcoreapp3.1/SDMS.DL.FerretDB.assets.cache
SDMSApps/SDMS.DL.MongoDB/obj/project.assets.json
SDMSApps/SDMS.DL.MongoDB/obj/project.nuget.cache
SDMSApps/SDMS.DL.MongoDB/obj/SDMS.DL.MongoDB.csproj.nuget.dgspec.json
SDMSApps/SDMS.DL.MongoDB/obj/SDMS.DL.MongoDB.csproj.nuget.g.props
SDMSApps/SDMS.DL.MongoDB/obj/SDMS.DL.MongoDB.csproj.nuget.g.targets
SDMSApps/SDMS.DL.MongoDB/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.DL.MongoDB/obj/Debug/netcoreapp3.1/SDMS.DL.MongoDB.AssemblyInfo.cs
SDMSApps/SDMS.DL.MongoDB/obj/Debug/netcoreapp3.1/SDMS.DL.MongoDB.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.MongoDB/obj/Debug/netcoreapp3.1/SDMS.DL.MongoDB.assets.cache
SDMSApps/SDMS.DL.MongoDB/obj/Debug/netcoreapp3.1/SDMS.DL.MongoDB.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.MongoDB/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.DL.MongoDB/obj/Release/netcoreapp3.1/SDMS.DL.MongoDB.AssemblyInfo.cs
SDMSApps/SDMS.DL.MongoDB/obj/Release/netcoreapp3.1/SDMS.DL.MongoDB.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.MySql/obj/project.assets.json
SDMSApps/SDMS.DL.MySql/obj/project.nuget.cache
SDMSApps/SDMS.DL.MySql/obj/SDMS.DL.MySql.csproj.nuget.dgspec.json
SDMSApps/SDMS.DL.MySql/obj/SDMS.DL.MySql.csproj.nuget.g.props
SDMSApps/SDMS.DL.MySql/obj/SDMS.DL.MySql.csproj.nuget.g.targets
SDMSApps/SDMS.DL.MySql/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.DL.MySql/obj/Debug/netcoreapp3.1/SDMS.DL.MySql.AssemblyInfo.cs
SDMSApps/SDMS.DL.MySql/obj/Debug/netcoreapp3.1/SDMS.DL.MySql.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.MySql/obj/Debug/netcoreapp3.1/SDMS.DL.MySql.assets.cache
SDMSApps/SDMS.DL.MySql/obj/Debug/netcoreapp3.1/SDMS.DL.MySql.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.MySql/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.DL.MySql/obj/Release/netcoreapp3.1/SDMS.DL.MySql.AssemblyInfo.cs
SDMSApps/SDMS.DL.MySql/obj/Release/netcoreapp3.1/SDMS.DL.MySql.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.DL.PostgreSQL/obj/Release/netcoreapp3.1/SDMS.DL.PostgreSQL.AssemblyInfo.cs
SDMSApps/SDMS.DL.PostgreSQL/obj/Release/netcoreapp3.1/SDMS.DL.PostgreSQL.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Release/netcoreapp3.1/SDMS.DL.PostgreSQL.assets.cache
SDMSApps/SDMS.GatewayApi/obj/project.assets.json
SDMSApps/SDMS.GatewayApi/obj/project.nuget.cache
SDMSApps/SDMS.GatewayApi/obj/SDMS.GatewayApi.csproj.nuget.dgspec.json
SDMSApps/SDMS.GatewayApi/obj/SDMS.GatewayApi.csproj.nuget.g.props
SDMSApps/SDMS.GatewayApi/obj/SDMS.GatewayApi.csproj.nuget.g.targets
SDMSApps/SDMS.GatewayApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.GatewayApi/obj/Debug/netcoreapp3.1/SDMS.GatewayApi.AssemblyInfo.cs
SDMSApps/SDMS.GatewayApi/obj/Debug/netcoreapp3.1/SDMS.GatewayApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.GatewayApi/obj/Debug/netcoreapp3.1/SDMS.GatewayApi.assets.cache
SDMSApps/SDMS.GatewayApi/obj/Debug/netcoreapp3.1/SDMS.GatewayApi.csprojAssemblyReference.cache
SDMSApps/SDMS.GatewayApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.GatewayApi/obj/Release/netcoreapp3.1/SDMS.GatewayApi.AssemblyInfo.cs
SDMSApps/SDMS.GatewayApi/obj/Release/netcoreapp3.1/SDMS.GatewayApi.AssemblyInfoInputs.cache
SDMSApps/SDMS.Models/obj/project.assets.json
SDMSApps/SDMS.Models/obj/project.nuget.cache
SDMSApps/SDMS.Models/obj/SDMS.Models.csproj.nuget.dgspec.json
SDMSApps/SDMS.Models/obj/SDMS.Models.csproj.nuget.g.props
SDMSApps/SDMS.Models/obj/SDMS.Models.csproj.nuget.g.targets
SDMSApps/SDMS.Models/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.Models/obj/Debug/netcoreapp3.1/SDMS.Models.AssemblyInfo.cs
SDMSApps/SDMS.Models/obj/Debug/netcoreapp3.1/SDMS.Models.AssemblyInfoInputs.cache
SDMSApps/SDMS.Models/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.Models/obj/Release/netcoreapp3.1/SDMS.Models.AssemblyInfo.cs
SDMSApps/SDMS.Models/obj/Release/netcoreapp3.1/SDMS.Models.AssemblyInfoInputs.cache
SDMSApps/SDMS.Models/obj/Release/netcoreapp3.1/SDMS.Models.assets.cache
SDMSApps/SDMS.Models/obj/Release/netcoreapp3.1/SDMS.Models.csprojAssemblyReference.cache
SDMSApps/SDMS.ViewModels/obj/project.assets.json
SDMSApps/SDMS.ViewModels/obj/project.nuget.cache
SDMSApps/SDMS.ViewModels/obj/SDMS.ViewModels.csproj.nuget.dgspec.json
SDMSApps/SDMS.ViewModels/obj/SDMS.ViewModels.csproj.nuget.g.props
SDMSApps/SDMS.ViewModels/obj/SDMS.ViewModels.csproj.nuget.g.targets
SDMSApps/SDMS.ViewModels/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.ViewModels/obj/Debug/netcoreapp3.1/SDMS.ViewModels.AssemblyInfo.cs
SDMSApps/SDMS.ViewModels/obj/Debug/netcoreapp3.1/SDMS.ViewModels.AssemblyInfoInputs.cache
SDMSApps/SDMS.ViewModels/obj/Debug/netcoreapp3.1/SDMS.ViewModels.assets.cache
SDMSApps/SDMS.ViewModels/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
SDMSApps/SDMS.ViewModels/obj/Release/netcoreapp3.1/SDMS.ViewModels.AssemblyInfo.cs
SDMSApps/SDMS.ViewModels/obj/Release/netcoreapp3.1/SDMS.ViewModels.AssemblyInfoInputs.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
SDMSApps/SDMS.DL.PostgreSQL/obj/Debug/netcoreapp3.1/SDMS.DL.PostgreSQL.csprojAssemblyReference.cache
