################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAppAuth/.vs/WebAppAuth
/WebAppAuth/obj
/.vs
/WebAppAuth/bin/Debug/netcoreapp3.1
/SDSMApps/.vs/SDSMApps
/SDSMApps/GatewayApi/obj
/SDSMApps/GatewayApi/bin/Debug/netcoreapp3.1
/SDSMApps/CatalogApi/obj
/SDSMApps/CatalogApi/bin/Debug/netcoreapp3.1
/SDSMApps/AuthenticationApi/obj
/SDSMApps/AuthenticationApi/bin/Debug/netcoreapp3.1
/SDSMApps/EndUserWebApp/pub
/SDSMApps/BAL/obj
/SDSMApps/ClientAppLibrary/obj
/SDSMApps/DAL/obj
/SDSMApps/Models/obj
/SDSMApps/ViewModels/obj
/SDSMApps/ViewModels/bin/Debug/netcoreapp3.1
/SDSMApps/Models/bin/Debug/netcoreapp3.1
/SDSMApps/Common.Infra/bin/Debug
/SDSMApps/Common.Infra/bin/Release
/SDSMApps/Common.Infra/obj
/SDSMApps/ClientAppLibrary/bin/Debug/netcoreapp3.1
/SDSMApps/BAL/bin/Debug/netcoreapp3.1
/SDSMApps/DL.MySql/bin/Debug
/SDSMApps/DL.MySql/obj
/SDSMApps/SDSM.Models/bin
/SDSMApps/SDSM.Models/obj
/SDSMApps/SDSM.GatewayApi/obj
/SDSMApps/SDSM.GatewayApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.CatalogApi/obj
/SDSMApps/SDSM.CatalogApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.AuthenticationApi/obj
/SDSMApps/SDSM.AuthenticationApi/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.EndUserWebApp/pub
/SDSMApps/BAL/obj
/SDSMApps/SDSM.ClientAppLibrary/obj
/SDSMApps/SDSM.DAL/obj
/SDSMApps/SDSM.Models/obj
/SDSMApps/SDSM.ViewModels/obj
/SDSMApps/SDSM.ViewModels/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.Models/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.Common.Infra/bin/Debug
/SDSMApps/SDSM.Common.Infra/bin/Release
/SDSMApps/SDSM.Common.Infra/obj
/SDSMApps/ClientAppLibrary/bin/Debug/netcoreapp3.1
/SDSMApps/BAL/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.DL.MySql/bin/Debug
/SDSMApps/SDSM.DL.MySql/obj
/SDSMApps/SDSM.Models/bin
/SDSMApps/SDSM.Models/obj
/SDSMApps/SDSM.ViewModels/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.ViewModels/obj
/SDSMApps/BAL/bin/Release/netcoreapp3.1
/SDSMApps/ClientAppLibrary/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.AuthenticationApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.CatalogApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.DL.MongoDB/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.DL.MongoDB/obj
/SDSMApps/SDSM.DL.MySql/bin/Release
/SDSMApps/SDSM.GatewayApi/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.ViewModels/bin/Release/netcoreapp3.1
/SDSMApps/SDSM.DL.MongoDB/bin/Debug/netcoreapp3.1
/SDSMApps/SDSM.BL.Common/bin
/SDSMApps/SDSM.BL.Common/obj
/SDSMApps/B2BWebApp/obj
/SDSMApps/BackOfficeWebApp/obj
/SDSMApps/DeliveryPartnerWebApp/obj
/SDSMApps/EndUserWebApp/obj
/SDSMApps/VendorWebApp/obj
