<div class="app-layout">
  <app-header 
    (toggleLeftSidebar)="onToggleLeftSidebar()"
    (toggleRightSidebar)="onToggleRightSidebar()"
    (loadComponent)="onLoadComponent($event)">
  </app-header>
  
  <div class="main-content-wrapper">
    <div class="left-sidebar-wrapper" [class.collapsed]="leftSidebarCollapsed">
      <app-left-sidebar 
        [isCollapsed]="leftSidebarCollapsed"
        (toggle)="onToggleLeftSidebar()"
        (loadComponent)="onLoadComponent($event)">
      </app-left-sidebar>
    </div>
    
    <div class="center-content" [class.left-collapsed]="leftSidebarCollapsed" [class.right-collapsed]="rightSidebarCollapsed">
      <app-center-canvas #centerCanvas></app-center-canvas>
    </div>
    
    <div class="right-sidebar-wrapper" [class.collapsed]="rightSidebarCollapsed">
      <app-right-sidebar 
        [isCollapsed]="rightSidebarCollapsed"
        (toggle)="onToggleRightSidebar()"
        (loadComponent)="onLoadComponent($event)">
      </app-right-sidebar>
    </div>
  </div>
  
  <app-footer></app-footer>
</div>