.carousel-inner img {
  max-height: 500px;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding-top: 65px;
  }

  .particle-overlap {
    position: absolute;
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }





  .col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.col-md-3 img{
  width:100%;
  height:auto;
}
body .carousel-indicators li{
  background-color:red;
}
body .carousel-indicators{
  bottom: 0;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:red;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
   }