<!-- <div id="particles-js"></div> -->
<router-outlet></router-outlet>
<div id="demo1" class="carousel slide" data-ride="carousel">

  <ul class="carousel-indicators">
    <li data-target="#demo1" data-slide-to="0" class="active"></li>
    <li data-target="#demo1" data-slide-to="1"></li>
    <li data-target="#demo1" data-slide-to="2"></li>
  </ul>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/13.jpg" alt="Los Angeles">
    </div>
    <div class="carousel-item">
      <img src="assets/14.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="assets/15.jpg" alt="New York">
    </div>
  </div>
  <div id="particles-js" class="particle-overlap"></div>

  <a class="carousel-control-prev" href="#demo1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo1" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- <div id="demo" class="carousel slide" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <div class="container carousel-inner no-padding">
      <div class="carousel-item active">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>    
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
      </div>
      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>    
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>  
      </div>
      <div class="carousel-item">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>    
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>   
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="https://image.shutterstock.com/z/stock-photo-sleeping-disorders-as-a-reason-for-insomnia-293777093.jpg">
        </div>  
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div> -->
